body {
    background-image: url("Img/homebody.jpg");
    background-attachment: fixed;

}
div.relative{
    position: relative;
    left:350px;
    top: 100px;
}
.s_form {
    padding-top: 20px;
    width: 100%;
    height: 55px;

}
.s_form span{
    font-size: 26px;
    font-weight:bold;
    margin-top: 40px;
}
#exit{
    font-size: 16px;
    margin-left:1200px;

}
#left_list{
    float: left;
    position: absolute;
    left: 150px;
    top: 300px;
    width: 200px;
    height:500px;
    padding: 0;
    background-color: #ffffff;
    border: 1px solid darkgreen;
    /* for IE */
    filter:alpha(opacity=60);
    /* CSS3 standard */
    opacity:0.6;
}
#left_list_inner{
    position:relative;
    left: 50px;
    top: 30px;
    width: 150px;
}
#left_list_inner_header{

    position: relative;
    font-size: 22px;
    height: 200px;
}
#left_list_inner_footer{
    position: relative;
    font-size: 20px;
}
.container{
    width: 800px;
    top: 200px;
    left: 350px;
   /*border:2px solid darkgreen;*/
    position: relative;
}
 #send_weibo{
    width: 780px;
    height: 150px;
    top: 10px;
    left: 10px;
    position: relative;

 }
#input1{
    position: relative;
    top: 10px;
    float: right;
}
 .show_area{
    width: 780px;
    height: 600px;
    position: relative;
    top: 60px;
    left: 10px;
    border: 1px solid darkgreen;
}
 #show_form{
     position: relative;
     top: 5px;
     left: 3px;
     width:760px ;
     height: auto;

 }
 textarea{
     background-color: #FFFFFF;
     filter:alpha(opacity=60);
     /* CSS3 standard */
     opacity:0.6;
 }
