


body{
    background: cover;
    background-image: url("Img/bodybg3.jpg")
}
div.relative{
    position: relative;
    left: 130px;
    right: 30px;
}

#container{
    width:1000px;
}
#header{
    background-image: url("Img/headerbg1.jpg");
    height: 150px;
}
#login_outer{
    height: 400px;
    background-color: darkcyan;
    float: right;
    width: 400px;
}
#login_inner{
    position: relative;
    background-color: darkcyan;
    top: 40px;
    width: 260px;
    left: 70px;
    right: 70px;
}
#login_denglu{
    height: 60px;
}
#login_num{
    height: 70px;

}
#login_pw{
    height:70 px;
}
#login_button{
    height: 70px;
}
#login_register{
    height: 70px;
}
#content{
    height: 400px;
    background-color: blanchedalmond;
    float: left;
    width: 600px;
    background-image: url("Img/contentbg2.jpg");
}
#footer{
    height: 50px;
    clear: both;
    text-align:center;
    background-color:#999999;
}

